body.page{
	background-color: $bg-color-main;
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
}
h1{
    font-size: 52px;
    line-height: 62px;
}
h2{
    font-size: 30px;
    line-height: 40px;
}
h3{
    font-size: 28px;
    line-height: 38px;
}
h4{
    font-size: 24px;
    line-height: 34px;
}
h5{
	font-size: 18px;
    line-height: 28px;
}
h6{
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
}
.page-template-template-custom{
	.intro{
	    padding-bottom: 40px;
	}
}
.background-fixed{
	background-attachment: fixed;
}
.theme-color{
	color: $theme-color;
}

/* slider */
ul.slick-dots{
	li {
		button:before{
			opacity: 1;
		    color: rgba(255,255,255,0.3);
		    font-size: 12px;
		}
		&.slick-active button:before{
			color: $theme-color;
			opacity: 1;
		}
	}	
}
/* List */
.list-image{
	>*{
		background-image: url(../../assets/images/agree.png);
		background-repeat: no-repeat;
		background-position: 0px 4px;
		padding-left: 30px;
	}
}
/* Box Number */
.box-number{
	position: relative;
	span{
		position: absolute;
	    top: 17px;
	    left: 50%;
	    transform: translateX(-50%);
	}
}
/* == Box == */
.box-radius{
	background-color: $color-box;
	padding: 50px 50px 35px;
	border-radius: 30px;      
	height: 100%;  
	&.box-radius-bg{
		background-image: url('../../assets/images/columnbg.png');
		background-repeat: no-repeat;
		background-position: center;
	}
	ul {
		padding: 0;
    	list-style: none;
    	margin: 0;
		li{
			background-image: url(../../assets/images/agree.png);
		    background-repeat: no-repeat;
		    background-position: 0px 4px;
		    padding-left: 30px;
	    	margin-bottom: 10px;
	    }
	}
}
.small-box-radius{
    background-color: $color-box;
    padding: 25px 30px;
    border-radius: 15px;	
}
/* BG */
.bg-center{
	background-position: center !important;
}
.bg-none{
	background: none !important;
}
.bg{
	background-image: url(../../assets/images/about.png);
	background-repeat: no-repeat;
    background-position: center;
}
.bg-two-lines{
	background-repeat: no-repeat;
    background-position: center top;
    background-image: url(../../assets/images/body.png);
	.bg-two-lines-inner{
		background-image: url(../../assets/images/home_bg_intro.png);
	    background-repeat: no-repeat;
	    background-position: center bottom;
	    padding-top: 160px;
	}
}
.bg-one-line{
	background-repeat: no-repeat;
    background-position: center top;
    background-image: url(../../assets/images/body-2.png);
	.bg-one-line-inner{
		background-image: url(../../assets/images/line.png);
		background-repeat: no-repeat;
    	background-position: center top;
	}
}
@media only screen and (max-width: 959px) and (min-width: 768px){
	h1{
		font-size: 44px;
    	line-height: 53px;
	}
	h2{
		font-size: 26px;
	    line-height: 34px;
	}
	h3{
		font-size: 24px;
    	line-height: 32px;
	}
	h4{
		font-size: 20px;
	    line-height: 29px;	
	}
	h5{
	    font-size: 15px;
    	line-height: 24px;	
	}
	h6{
		font-size: 13px;
	    line-height: 21px;	
	}
}
@media only screen and (max-width: 767px) and (min-width: 480px){
	h1{
		font-size: 39px;
    	line-height: 47px;
	}
	h2{
		font-size: 23px;
    	line-height: 30px;
	}
	h3{
		font-size: 21px;
    	line-height: 29px;
	}
}
@media only screen and (max-width: 991px){
	.title-main{
		padding-bottom: 60px;
	    padding-top: 60px;
	    background-size: contain;
	}
	.section-main{
		background-image: none;
	}
}
@media only screen and (max-width: 767px){
	.bg-two-lines{
		background-image: none;
		.bg-two-lines-inner{
		    background-position: center top;
		    padding-top: 100px;
		}
	}
}
@media only screen and (max-width: 479px){
	.title-main{
		background: none;
    	padding-bottom: 0;
	}
	h1{
		font-size: 31px;
    	line-height: 37px;
	}
	h2{
		font-size: 18px;
    	line-height: 24px;
	}
	h3{
		font-size: 17px;
    	line-height: 23px;
	}
	.box-radius{
		padding: 30px;
	}
}