#about{
    padding-top: 60px;
	background-image: url(../../assets/images/about.png);
	background-repeat: no-repeat;
    background-position: center top;
}
.why-diesel{
	ul{
		padding: 0;
    	list-style: none;
    	.title-li{
    	    margin-left: 30px;	
    	    >*{
    	    	line-height: 1;
    	    }
    	}
	}
	.team-slider{
		.team{
			&:focus{
				outline: none;
			}
			p{
			    font-size: 18px;
			}
		}
	}
	ul.we-are{
		li{
			div{
				background-color: #121039;
			    padding: 25px 30px 25px;
			    border-radius: 15px;
			}
		}
	}
	.client-slider{
		.slick-prev, .slick-next{
		    width: 45px;
    		height: 45px;	
    		background-color: $btn-color;
    		color: #ffffff;
    		top: calc(-45px - 3rem);
		    transform: none;
		    border-radius: 5px;
		    box-shadow: inset 0 0 0 1px rgba(0,0,0,.03);
		    background-repeat: repeat-x;
    		background-image: url(../../assets/images/shadow_button.png);
    		&:before{
    			opacity: 1;
    		}
    		&:after{
    			content: "";
			    position: absolute;
			    left: 0;
			    top: 0;
			    height: 100%;
			    width: 0;
			    z-index: 1;
			    -webkit-transition: all .3s;
			    -moz-transition: all .3s;
			    transition: all .3s;
			    background: rgba(0,0,0,.05);
    		}
    		&:hover{
    			&:after{
    				width: 100%;
    			}
    		}
		}
		.slick-prev{
			left: auto;
		    right: 65px;
		}
		.slick-next	{
			right: 0;
		}
	}
}

@media only screen and (max-width: 991px){
	.why-diesel {
		ul .title-li{
			margin-left: 15px;
		}
		.team-slider .team p{
		    font-size: 15px;
		}
	}
}
