.image-features{
	img{
		max-width: 100%;
	}
	ul.detail-image-features{
		list-style: none;
		li{
			>div{
				padding-left: 60px;
				background-repeat: no-repeat;
				background-position: left top;
				p{
				 	color: #7f81ac;
				}
			}
			&:nth-child(1)>div{
				background-image: url(../../assets/images/number-1.png);
			}
			&:nth-child(2)>div{
				background-image: url(../../assets/images/number-2.png);
			}
			&:nth-child(3)>div{
				background-image: url(../../assets/images/number-3.png);
			}
			&:nth-child(4)>div{
				background-image: url(../../assets/images/number-4.png);
			}
			&:nth-child(5)>div{
				background-image: url(../../assets/images/number-5.png);
			}
			&:nth-child(6)>div{
				background-image: url(../../assets/images/number-6.png);
			}
		}
	}
}
.components-features{
	img{
		max-width: 100%;
	}
	p{
		color: #7f81ac;
	}
}
@media only screen and (max-width: 991px){
	.components-features{
		.col-lg-5 img{
			float: left;
    		margin-right: 15px;
		}
	}
}